.button {
  display: block;
  padding: 15px 0;
  width: 260px;
  text-decoration: none;
  text-align: center;
  border: 2px solid #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #444444;
}
