.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  @media (min-height: $tablet) {
    //
  }
}

.contacts__title {
  position: relative;
  display: block;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 700;
  color: $black;
  @media (min-width: $tablet) {
    font-size: 43px;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    &::after {
      content: "";

      position: absolute;
      background-color: $white;
      top: -5px;
      right: 50px;;
      width: 50px;
      height: 85px;
      background-image: url(../img/icon-flag.svg);
      background-repeat: no-repeat;
    }
  }
}

.contacts__address {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contacts__address tr {
  //
}

.contacts__address td {
  //
}

.contacts__map {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $gray;
  line-height: 0;
  @media (min-width: $tablet) {
    padding: 0;

  }
}

iframe {
  width: 100%;
}

.contacts__write {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  @media (min-height: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.contacts__button {
  width: 100%;
  @media (min-width: $tablet) {
    width: 30%;
  }
}
