.container {
  padding: 0 30px;
}

.product {
  margin-top: 30px;
  border-bottom: 1px solid #ececec;
}

.product__title-link {
  display: block;

  padding: 0 30px;
  padding-top: 20px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.product__description {
  padding: 0 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
}

.product-buy {
  padding: 25px 30px;
}
