.contacts {
  margin: 0;
}

.contacts__title {
  padding: 0 30px;
  font-size: 18px;
  font-weight: 700;
  color: $black;
}

.contacts__address {
  display: block;
  padding: 0 30px;
  margin-bottom: 35px;
  font-size: 15px;
  font-weight: 400;
  color: $gray;
}

.contacts__map {
  margin: 0;
  padding: 0;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $gray;
}

.contacts__button {
  margin: 38px 30px;
}
