.description {
  margin: 0;
  padding: 0 30px;
}

.description h2 {
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description__item {
  margin-top: 25px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $black;
}
