.description {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: $tablet) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.description h2 {
  font-size: 25px;
  color: $black;
  @media (min-width: $tablet) {
    font-size: 43px;
  }
}

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: $tablet) {
    display: flex;
  }
}

.description__wrapper {
  @media (min-width: $tablet) {

  }
}

.description__item {
  position: relative;
  height: 120px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 50px;
  font-size: 17px;
  font-weight: 700;
  color: $black;
  box-sizing: border-box;

  @msdia (min-width: $tablet) {
    font-size: 20px;
  }

  &--ecology::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 60px;
    height: 40px;
    background-color: $white;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--price::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 60px;
    height: 40px;
    background-color: $white;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: 5px 2px;
  }

  &--like::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 60px;
    height: 40px;
    background-color: $white;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: 10px 7px;
  }

  &--hand::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 60px;
    height: 40px;
    background-color: $white;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: 7px 5px;
  }

  &--support::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 60px;
    height: 40px;
    background-color: $white;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: 0 5px;
  }

  &--gift::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 60px;
    height: 40px;
    background-color: $white;
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: 7px 5px;
  }
}
