.footer {
  display: flex;
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;
  background-color: $background-gray;

  @media (min-width: $tablet) {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
}

.footer__container {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 37px;
    padding-bottom: 40px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.footer__developer {
  display: flex;
}

.footer__by {
  font-size: 19px;
  color: $black;
  font-weight: 700;
  margin-right: 20px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-left: 80px;
  }
}

.social__item {
  width: 50px;
}
