.footer {
  background-color: $background;

  @media (min-width: $tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

.footer__container {
  margin: 0 auto;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 0;
  padding-top: 0;

  @media (min-width: $tablet) {
    display: flex;
    width: 87%;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 91%;
    max-width: 1050px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    margin-top: 26px;
    padding-bottom: 32px;

    &:hover .footer__logo-icon {
      fill: $green-darken-hover;
    }

    &:active .footer__logo-icon {
      fill: rgba($green-darken-hover, $oppacity);
    }
  }
}

.footer__logo-icon {
  fill: $brown;
}

.footer__developer {
  display: block;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 26px;
  padding-left: 0;
  text-align: center;
  font-size: 19px;
  color: $black;
  font-weight: 700;
}

.footer__developer-link {
  display: block;
  text-align: center;
  font-size: 19px;
  color: $black;
  font-weight: 700;
  cursor: auto;

  @media (min-width: $tablet) {
    margin-top: 18px;
  }

  &:active {
    color: rgba($black, $oppacity);
  }
}

.footer__developer-link:hover .footer__by-icon {
  fill: $green-darken-hover;
}

.footer__developer-link:active .footer__by-icon {
  fill: rgba($green-darken-hover, $oppacity);
}

.footer__by-icon {
  margin-left: 19px;
  width: 28px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  fill: $green-lighten;
}

/*.footer {
  display: flex;
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;
  background-color: $background-gray;

  @media (min-width: $tablet) {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
  }
}

.footer__container {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 37px;
    padding-bottom: 40px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.footer__developer {
  display: flex;
}

.footer__by {
  font-size: 19px;
  color: $black;
  font-weight: 700;
  margin-right: 20px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-left: 80px;
  }
}

.social__item {
  width: 50px;
}*/
