.form {
  padding: 0 30px;
  background-color: #ffffff;
}

.form__description {
  display: block;

  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.form__title {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.form__type {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form__button {
  background-color: #ffffff;
}
