.main-nav {
  border-bottom: 1px solid #ececec;
}

.main-nav__menu {
  background-color: #ffffff;
}

.main-nav__wrapper {
  //
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ececec;
}

.main-nav__search {
  color: #000000;
  border-bottom: 1px solid #ececec;
}
