.main-nav {
  margin: 0;
}

.main-nav__menu {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  border-bottom: 1px solid $border-color;
}

.main-nav__logo{
  margin-left: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  transform: translateX(-50%);
}

.main-nav__wrapper {
  //
}

.main-nav__link {
  position: relative;
  display: block;
  padding-left: 23.75%;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 23.75%;
  text-decoration: none;
  font-weight: 700;
  color: $black;
  border-bottom: 1px solid $border-color;

  &:hover {
    color: $black-hover;
  }

  &:active {
    color: $black-active;
  }

  &--icon::before {
    content: "";
    position: absolute;
    left: 50px;
    top: 28px;
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-cart.svg");
    background-color: $white;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
}

.main-nav__search {
  border-bottom: 1px solid $border-color;
}

.main-nav__field {
  position: relative;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 23.75%;
  padding-right: 23.75%;
  font: inherit;
  border: none;
  box-sizing: border-box;

  &::placeholder {
    color: $black;
    font-weight: 700;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    opacity: 0.6;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50px;
    top: 28px;
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-search.svg");
    background-color: $white;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
}
