.main-nav {
  border-bottom: 1px solid $border-color;
}

.main-nav__menu {
  background-color: $white;
}

.main-nav__wrapper {
  //
}

.main-nav__link {
  text-decoration: none;
  color: $black;
  border-bottom: 1px solid $border-color;
}

.main-nav__search {
  color: $black;
  border-bottom: 1px solid $border-color;
}
