.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  box-sizing: border-box;
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  background-color: $white;
  border: 1px solid #c7c7c7c7;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba($black, 0.25);

  @media (min-width: $tablet) {
    width: 568px;
    padding-left: 106px;
    padding-right: 106px;
  }
}

.modal__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 46px;
}

.modal__title {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__choice {
  margin: 0;
  margin-bottom: 25px;
  line-height: 2;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 30px;
  }
}

.modal__size {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.modal__check {
  box-sizing: border-box;
  width: 78px;
  height: 48px;
  padding-top: 14px;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  color: $gray;
  text-align: center;
  cursor: pointer;
  border: 2px solid $border-color;

  @media (min-width: $tablet) {
    width: 108px;
  }

  &:hover {
    border: 2px solid #c7c7c7;
  }
}

.modal__radio:checked + .modal__check {
  border: 2px solid $green-lighten;
}

.modal__button {
  width: 100%;
  color: $white;
  background-color: $green-lighten;
  border: none;
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  outline: none;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.9);
}
