.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 25%;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  padding-left: 30px;
  padding-right: 30px;
}

.modal__title {
  padding-top: 33px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.modal__choice {
  text-align: center;
  font-size: 15px;
  color: $gray;
  text-align: center;
}

.modal__button {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 17px;
  background-color: $green-lighten;
  color: $white;
  border: none;
}

.modal__form {

}
