.page-main {
  //
}

.page-main__title {
  display: block;
  margin: 0;
  text-align: center;
  padding-top: 67px;
  padding-bottom: 67px;
  font-size: 27px;
  color: $black;
  font-weight: 700;
  background-color: $background-gray;
}
