.product {
  margin-top: 30px;
  border-bottom: 1px $border-color;
}

.product__title-link {
  display: block;

  padding: 0 30px;
  padding-top: 20px;
  font-size: 17px;
  font-weight: 700;
  color: $black;
}

.product__description {
  padding: 0 30px;
  font-size: 15px;
  color: $gray;
  font-weight: 400;
}

.product-buy {
  padding: 25px 30px;
}
