.product {
  display: block;
}

.product__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-bottom: 60px;
  margin: 0 auto;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 0;

  @media (min-width: $tablet) {
    padding-bottom: 62px;
    margin-top: 72px;
    width: 87%;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop) {
    width: 97%;
    max-width: 1050px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 106px;
    margin-top: 123px;
  }
}

.product__post {
  margin-bottom: 31px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 4.76%;
  }
}

.product__post:nth-child(3n) {
  @media (min-width: $desktop) {
    margin-right: 0;
  }
}

.product__image-link {
  text-decoration: none;
  background-color: transparent;

  @media (min-width: $tablet) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
  }

  @media (min-width: $desktop) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
}

.product__post-image {
  display: block;
}

.product__info {
  margin: 0;
  padding-top: 24px;
  padding-right: 26px;
  padding-bottom: 0;
  padding-left: 26px;
  border: 1px solid $border-color;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    box-sizing: border-box;
    padding-top: 22px;
  }

  @media (min-width: $desktop) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding-top: 26px;
    padding-right: 25px;
    padding-bottom: 0;
    padding-left: 24px;
  }
}


.product__title {
  margin-top: 0;
  margin-bottom: 5px;
  position: relative;

  @media (min-width: $tablet) {
    margin-bottom: 6px;
  }
}

.product__title-link {
  font-size: 17px;
  font-weight: 700;
  color: $black;
  line-height: 1.4;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.product__description {
  font-size: 15px;
  color: $gray;
  font-weight: 400;

  @media (min-width: $tablet) {
    margin-top: 0;
    font-size: 15px;
    line-height: 2;
    color: $gray;
  }
}

.product-buy {
  margin-bottom: 0;
  border-top: 1px solid $border-color;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 27px;
  padding-left: 0;

  @media (min-width: $tablet) {
    margin-top: auto;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 26px;
    padding-top: 16px;
  }
}

.product-buy__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 1.4;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
  }
}

.product-buy__basket {
  float: right;

  @media (min-width: $tablet) {
    padding-right: 8px;
  }
}


/*.product {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 1px solid $border-color;
}

.product__info {
  margin-left: 8.75%;
  margin-right: 8.75%;
}

.product__title {
  display: block;
  margin: 0;
  margin-top: 25px;
}

.product__title-link {
  font-size: 17px;
  font-weight: 700;
  color: $black;
}

.product__description {
  margin-bottom: 25px;
  font-size: 15px;
  color: $gray;
  font-weight: 400;
}

.product-buy {
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid $border-color;
}*/
