.production {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 490px;
}

.production__caption {
  padding-top: 90px;
  padding-left: 30px;
  padding-bottom: 120px;
  text-align: center;
  font-size: 27px;
  color: $black;
}

.production__item-container {
  //
}

.production__item {
  display: block;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  color: $white;
  text-decoration: none;
}

.production__item--interior {
  background-color: $green-lighten;

  &:hover {
    background-color: $green-lighten-hover;
  }
}

.production__item--toys {
  background-color: $green-darken;

  &:hover {
    background-color: $green-darken-hover;
  }
}
