.reviews {
  position: relative;
  margin: 0 auto;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 0;
  padding-bottom: 45px;

  @media (min-width: $tablet) {
    width: 87%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 65px;
    padding-top: 0;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 475px;
    }

    @media (min-width: $desktop) {
      background: none;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 4px;
  }
}

.reviews__content {
  position: relative;
  padding-top: 24px;

  @media (min-width: $tablet) {
    padding-bottom: 20px;
    padding-top: 24px;
  }

  @media (min-width: $desktop) {
    width: 91%;
    max-width: 1050px;
    padding-top: 70px;
    margin: 0 auto;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 475px;
    }
  }
}

.reviews__title {
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 1.2;

  @media (min-width: $tablet) {
    font-size: 43px;
    line-height: 1.2;
    margin-top: 45px;
    margin-right: 25%;
    margin-bottom: 50px;
    margin-left: -5px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 1.1;
    width: 66.67%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
}

.reviews__slide {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    min-height: 210px;
  }

  @media (min-width: $desktop) {
    width: 66.67%;
    margin: 0 auto;
  }
}

.reviews__user {
  font-size: 15px;
  line-height: 2;
  color: $gray;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop) {
    position: relative;
    width: 800px;
  }
}

.reviews__author {
  margin-top: 60px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.4;
  }

  @media (min-width: $desktop) {
    margin-top: 38px;
  }
}

.reviews__author-name {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.4;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.reviews__author-contact {
  display: block;
  font-weight: 400;
  margin-bottom: 28px;
  margin-top: 5px;
  font-size: 17px;
  line-height: 1.8;

  @media (min-width: $desktop) {
    margin-top: 1px;
  }
}

.reviews__controls {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    position: absolute;
    right: 0;
    bottom: 56px;
    width: 180px;
    border: none;
  }

  @media (min-width: $desktop) {
    bottom: 78px;
    right: -3px;
  }
}

.rewiews__control-button {
  position: relative;
  width: 50%;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: 1px solid $border-color;
  outline: none;

  @media (min-width: $tablet) {
    border: none;
  }

  &:first-of-type {
    border-right: none;
  }

  &--backward::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/icon-left-arrow.svg");
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--next::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/icon-right-arrow.svg");
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.reviews__button {
  margin-top: 37px;
  width: 100%;

  @media (min-width: $tablet) {
    width: 25.5%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    position: absolute;
    top: 70px;
    right: 0;
  }

  @media (min-width: $desktop) {
    width: 15.9%;
    top: 80px;
    right: 0;
  }
}
