.video {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 700;
  border: 1px solid $border-color;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.video__title {
  padding-left: 91px;
  position: relative;
  margin-bottom: 25px;
  margin-top: 22px;
  margin-right: 20px;
  font-size: 17px;
  line-height: 1.4;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 20px;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    }

  @media (min-width: $tablet) {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 34px;
    margin-left: 15px;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.video__title--desktop {
  display: none;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    position: relative;
    display: block;
    margin-top: 93px;
    margin-right: 20px;
    margin-bottom: 35px;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;

    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: 0;
      width: 32px;
      height: 32px;
      background-image: url("../img/icon-video.svg");
      background-repeat: no-repeat;
    }
  }
}

.video__contentn-wrapper {
  position: relative;
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    order: -1;
  }

  @media (min-width: $desktop) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 64.8%;
    margin-bottom: 0;
  }
}

.video__post {
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;

  @media (min-width) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop) {
    box-sizing: border-box;
    padding-left: 78px;
    padding-right: 46px;
  }
}

.video__description {
  padding: 0;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 1.9;
  color: $gray;
  font-weight: 400;

  @media (min-width: $tablet) {
    padding-top: 0;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 2;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-bottom: 44px;
  }
}

.video__button {
  width: 100%;

  @media (min-width: $tablet) {
    margin-bottom: 46px;
  }

  @media (min-width: #desktop) {
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
  }
}
